.st-block-positioner
{
    top: 0;
    right: 0;

    box-sizing: border-box;
    width: 100%;

    border: none !important;
    background-color: #808080 !important;

    @include ui-popup;
    &:before,
    &:after
    {
        display: none;
        // left: auto;
        // right: -0.3em;
    }
}

.st-block-positioner__inner
{
    position: relative;
    z-index: 2;
    // padding: .3em .5em;

    padding: 8px;
    // background: #fff;

    background-color: transparent;
}

.st-block-positioner__select
{
    display: block;

    width: 100%;

    color: #fff;
    border: none;
    background-color: #808080;
}

.st-block--with-errors,
.st-block--delete-active
{
    & > .st-block__inner
    {
        & > .st-block__ui
        {
            .st-block-positioner
            {
                border-color: $error-color;
                &:after
                {
                    border-color: $error-color;
                }
            }
        }
    }
}
