// Block Controls

.st-block-controls
{
    //
    z-index: 1;
    // position: absolute;
    // left: 0;
    // top: 50%;
    // right: 0;
    // font-size:0.8em;
    // padding: 0px 110px;
    // transform: translateY(-50%);

    background-color: #808080;
}

.st-block-controls__buttons
{
    text-align: center;
}

.st-block-controls__button
{
    font-size: 12px;

    display: inline-block;

    margin: .5em;

    cursor: pointer;
    text-transform: uppercase;
    text-transform: uppercase;

    border: none;
    background: transparent;
}

.st-block-controls__button .st-icon
{
    display: block;

    width: 42px;
    height: 42px;
    margin: 0 0 10px 0;
}

.st-block-controls__button:hover
{
    color: $accent-color;
}
