.st-block__ui
{
    position: relative;

    display: none;

    box-sizing: border-box;
    height: 36px;
    margin-top: -36px;
    .st-block:hover &,
    .st-block:focus &
    {
        display: block;
    }
}
.st-block__control-ui
{
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui
{
    opacity: 1;
}

.st-block-ui__confirm
{
    font-size: 16px;

    display: inline-block;

    box-sizing: border-box;
    margin: 0;
    padding: 6px;

    cursor: pointer;

    color: #fff;
    border: none;
    background: none;
    &:hover,
    &:focus
    {
        color: $error-color;
        background-color: #fff;
    }
}

%st-block-ui-btn
{
    // position: absolute;
    // top: 1em;
    display: inline-block;

    width: 36px;
    height: 36px;

    cursor: pointer;

    color: $block-controls-color;

    @extend .st-icon;
}

.st-block-ui-btn__reorder
{
    float: right;

    @extend %st-block-ui-btn;
    &:hover,
    &:focus
    {
        // opacity: 1;
        color: $accent-color;
    }
}

.st-block-ui-btn__delete
{
    float: right;

    @extend %st-block-ui-btn;
    &:hover,
    &:focus
    {
        opacity: 1;
        color: $error-color;
    }
    // .st-block--textable &,
    // .st-block[data-type="list"] &,
    // .st-block {
    //   display: none;
    // }
    .st-block[data-type='quote'] &
    {
        display: block;
    }
}

.st-block-control-ui-btn
{
    font-size: 1.5em;
    line-height: 1.25em;

    width: 2em;
    height: 1.25em;

    border: $default-border;
    border-bottom: 0;
    border-left: 0;

    @extend %st-block-ui-btn;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn
{
    color: $error-color;
    border-color: $error-color;
    &:hover,
    &.active
    {
        color: #fff;
        background-color: $error-color;
    }
}

.st-block__ui-delete-controls
{
    top: 0; //1.85em;
    right: 0; //4em;

    box-sizing: border-box;
    width: 100%;
    padding: 0 4px;
    // padding: .3em .5em;

    border-color: $error-color !important;
    background-color: $error-color !important;

    @include ui-popup;
    &:before,
    &:after
    {
        display: none;
        // right: -.3em;
        // left: auto;
        // border-color: $error-color;
    }
}

.st-block--with-errors
{
    z-index: 2;

    opacity: 1;
}

.st-block__delete-label
{
    display: inline-block;

    padding: 6px 4px;

    color: #fff;
}
