.st-block-replacer
{
    font-size: 1.3em;

    z-index: 2;

    display: none;

    padding: 0;
    // position: absolute;

    text-align: center;

    border: none;
    // transform: translateY(-50%);
    outline: none;
    background-color: transparent;
    // top: 50%;
    // left: 35px;
    &::-moz-focus-inner
    {
        margin: 0;
        margin-left: -1px;
        padding: 0;
    }
    .st-block--textable.st-block--empty &
    {
        display: block;
    }
}

.st-block-replacer__button
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 41px;
    height: 41px;
    margin: 0 auto;

    cursor: pointer;
    transition: all $animation-speed ease-in-out;
    transform: translateZ(0);

    color: $accent-color;
    .st-block--controls-active &
    {
        // transform: rotate(45deg);
    }
}
