.st-block__ui
{
    position: relative;

    display: none;

    height: 36px;
    .st-block:hover &,
    .st-block:focus &
    {
        display: block;
    }
}
.st-block__control-ui
{
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui
{
    opacity: 1;
}

.st-block-ui__confirm
{
    font-size: .9em;

    margin: 0 .1em;
    padding: .15em .4em;

    cursor: pointer;

    color: $error-color;
    border: 1px solid $error-color;
    background: none;
}

%st-block-ui-btn
{
    // position: absolute;
    // top: 1em;
    display: inline-block;

    width: 36px;
    height: 36px;

    cursor: pointer;

    color: $block-controls-color;

    @extend .st-icon;
}

.st-block-ui-btn__reorder
{
    // top: .5em;
    // right: 2em;
    // transition: opacity .3s ease-in-out;
    // transform: scaleX(-1);
    // opacity: .2;
    @extend %st-block-ui-btn;
    &:hover,
    &:focus
    {
        // opacity: 1;
        color: $accent-color;
    }
}

.st-block-ui-btn__delete
{
    // right: 1em;
    // top: 1.5em;
    // font-size: 1.5em;
    // opacity: .5;
    //
    @extend %st-block-ui-btn;
    &:hover,
    &:focus
    {
        opacity: 1;
        color: $error-color;
    }
    // .st-block--textable &,
    // .st-block[data-type="list"] &,
    // .st-block {
    //   display: none;
    // }
    .st-block[data-type='quote'] &
    {
        display: block;
    }
}

.st-block-control-ui-btn
{
    font-size: 1.5em;
    line-height: 1.25em;

    width: 2em;
    height: 1.25em;

    border: $default-border;
    border-bottom: 0;
    border-left: 0;

    @extend %st-block-ui-btn;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn
{
    color: $error-color;
    border-color: $error-color;
    &:hover,
    &.active
    {
        color: #fff;
        background-color: $error-color;
    }
}

.st-block__ui-delete-controls
{
    top: 1.85em;
    right: 4em;

    padding: .3em .5em;

    border-color: $error-color;

    @include ui-popup;
    &:before
    {
        right: -.3em;
        left: auto;

        border-color: $error-color;
    }
}

.st-block--with-errors
{
    z-index: 2;

    opacity: 1;
}

.st-block__delete-label
{
    color: $error-color;
}
