@mixin ui-popup
{
    position: absolute;
    z-index: 2;

    display: none;

    height: 36px;

    border: $default-border;
    background: #fff;
    &.active
    {
        display: block;
    }
    &:after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: '';

        background-color: #fff;
    }
    &:before
    {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -.3em;

        display: block;

        width: .4em;
        height: .4em;

        content: '';
        transform: translateY(-50%) rotate(45deg);

        border: $default-border;
        background: #fff;
    }
}
